<!DOCTYPE html>
<html>
    <head>
        <title>Hi!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>Here goes some names...</p>
        <%- include('users/names', {names: names}); %>
    </body>
</html>